@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0;
    background-color: #E8E7E9;
    font-family: 'lato';
}

header {
    background-color: #1A2542;
}

.logo {
    margin-top: -15px;
    margin-bottom: -30px;
}

.logo a:hover {
    filter: opacity(0.4) drop-shadow(0 0 0 darkblue);
}

.divider {
    margin-top: 10px;
    border-top: 1px solid #ffffff;
}

.collapse.navbar-collapse.d-flex.justify-content-center li a{
    margin-top: -10px;
    color: #FFFFFF;
}

nav ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'lato';
    font-weight: 600;
    transition: 0s color;
    position: relative;
}

nav ul li a::after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #3c5599;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a:hover {
    transition-delay: 0.1s;
    color: #3c5599 !important;
    border-radius: 20px;
}

.contacto {
    color: #3c5599;
}

main h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

main p {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

main a {
    text-decoration: none;
}

main a:hover {
    color: #FFFFFF;
}

main form {
    display: flex;
    flex-direction: column;
}

main label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: 600;
}

.textos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    background-color: #E8E7E9;
    border-bottom: 1px solid #1A2542;
}

.textos:focus {
    outline: none;
    border-bottom: 1px solid #3e5697;
}

textarea {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E8E7E9;
    margin-bottom: 15px;
}

.submit {
    border: none;
    background-color: #1A2542;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 15px;
    padding: 10px 64px 10px 64px;
    text-decoration: none;
    color: #FFFF;
    box-shadow: 0px 0px 3px black;
    transition: 0s color background-color;
}

.submit:hover {
    cursor: pointer;
    color: #dbd9d9;
    background-color: #1f2d52;
    transition-delay: 0.12s;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A2542;
    padding-top: 5px;
}

footer a img {
    filter: brightness(1) invert(100%);
    transition: 0s filter;
}

footer a img:hover {
    filter: opacity(0.4) drop-shadow(0 0 0 blue);
    transition-delay: 0.1s;
}